page {
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  font-size: 34px;
  view {
    padding: 10px;
    padding-bottom: 5px;
  }
}
